/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.htaccess
.idea/vcs.xml
.idea/workspace.xml
*.xml
.rnd
composer.lock
composer.lock
testt.csv
.idea/matchstats.iml
.idea/matchstats.iml
.idea/php.xml
.idea/workspace.xml
composer.lock
package-lock.json
package.json
